<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatisdemo2.dao.UserDao" >

    <insert id="insert"     parameterType="com.example.mybatisdemo2.model.UserDomain">
        insert into data_user (userId,userName,password,phone) values (#{userId},#{userName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from data_user where userId=#{userId}
    </delete>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.example.mybatisdemo2.model.UserDomain">
        select * from data_user where userId=#{userId}
    </select>

    <update id="updateUser"  parameterType="com.example.mybatisdemo2.model.UserDomain"  >
        update data_user set userName=#{userName},password=#{password},phone=#{phone} where userId=#{userId}
    </update>

    <select id="selectAll"   resultType="com.example.mybatisdemo2.model.UserDomain">
        select * from data_user
    </select>


</mapper>